#name{
    color: green;
    font-size: 2em;
    text-align: center;
}

#email{
    color: orange;
    font-size: 1,5em;
    text-align: center;
}

#foto{
    width: 200px;
    height: 280px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boximage{
   display: flex;
   flex-direction: column;
   align-items: center;
}

#fondo{
    color:brown;
    padding: 0;
    margin: 0;
}

#paragrafo{
    color: blue;
    font-style: italic;
    font-weight: bold;
}

#footer{
    color: green;
    text-align: center;
}

#table, th, td, tr{
    border: 2px  orange;
    border-style: groove;
    color: darkgreen;
    text-align: center;    
}
